<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Condiciones </title>
</head>
<body>
    
    <h1>Usuarios</h1>
      <!-- Operadores Logicod 
        not     !
        and     &&
        or      ||
    -->

    {{ if not .Activo }}
        <p>El Usuario esta activo en la plataforma</p>
    {{ else }}
        <p>El usuario NO esta activo en la plataforma</p>
    {{ end }}


    {{ if (and .Activo .Admin) }}
        <p>Eres administrador </p>
    {{ end }}

    <!--Operadores condicionales 
        eq      ==
        ne      !=
        lt      <
        le      <=
        >       gt
        >=      ge
    -->

    {{ if (gt .Edad 22) }}
        <p>El usuario tiene más de 22 años </p>
    {{ end }}
    
</body>
</html>